<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
      <a href="https://yasp.co/" style="margin-left: 11px; font-size: 13px">Back to YASP <font size="2">↗</font></a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
